.panelWrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;

    /* 默认在屏幕左侧外 */
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    /* Tips: 这里要和focus.js中状态机配置的动画时间相同 */
    transition: transform 0.6s ease, opacity 0.6s ease;
    will-change: transform, opacity;

    width: 60%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(5, 9, 18, 0.90) 0%, rgba(5, 9, 18, 0.40) 49.98%, rgba(5, 9, 18, 0.90) 99.97%);
    /*background: darkblue;*/
    padding: 149px 0 240px 132px;
}

/* 打开panel: 向左移动 移入到屏幕内 */
.panelWrap.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

/* 关闭: 向右移出直到消失 */
.panelWrap.is-closing {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}

.panelWrap[hidden] {
    /* 避免某些情况下从hidden到显示时闪烁布局 */
    display: block;
}