* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    /* inset属性: 子元素相对父元素的边距 */
    inset: 0;
    /* 让鼠标穿透overlay层 这样不会影响到THREE.js的控制器 */
    pointer-events: none;
    z-index: 9999;
}

#hoverLabel {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
}

#hoverLabel .card {
    padding: 8px 12px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
    white-space: nowrap;
}

#panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    /* 面板是可点击的 */
    pointer-events: auto;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

#panel .close {
    position: absolute;
    left: 12px;
    top: 12px;
    pointer-events: auto;
}

#panel .content-container .title {
    margin: 48px 16px 12px;
}

#panel .content-container .content {
    margin: 0 16px;
    line-height: 1.6;
}